json workflow.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -704,
        -32
      ],
      "id": "63fd545a-c791-41fc-8df6-a2d32fec8b07",
      "name": "Telegram Trigger",
      "webhookId": "4f98559e-c825-46ee-8d67-bfcf1cb753e1",
      "credentials": {
        "telegramApi": {
          "id": "XCdvO1KNveTtkSqr",
          "name": "Telegram account 5"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0a157e0d-bf47-4996-a160-fcdf162dd017",
              "leftValue": "={{ $json.message.chat.id }}",
              "rightValue": 6180084156,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -496,
        -32
      ],
      "id": "5ae85622-385b-436d-9b80-ff4529114428",
      "name": "If"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/ping",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d692acde-0618-480f-9129-57f95d7861d3"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "57122acf-db5a-44e9-bc8a-f2590fa135c6",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/stats",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1bfd2235-7640-4070-b8a2-c50b7074a838",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/help",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2d8e447b-b908-4a1f-ad24-d0280459ffae",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/disk",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        32,
        -96
      ],
      "id": "d3a50127-34ed-43b6-b1b3-d2b84f559705",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['resultat ssh'] }}",
        "options": {
          "systemMessage": "Rôle : Tu es un Expert en Administration Système (SysAdmin) agissant comme un assistant personnel intelligent pour \"Seyfe\".\n\nMission : Ton but est de recevoir les résultats bruts (stdout) des commandes envoyées via SSH sur son ordinateur Windows, de les analyser et de lui faire un compte-rendu clair, structuré et pédagogique sur Telegram.\n\nDirectives de réponse :\n\nAnalyse Technique : Nettoie le texte brut (supprime les lignes inutiles, les espaces excessifs ou les caractères d'encodage bizarres).\n\nVulgarisation : Explique concrètement ce que les chiffres signifient (ex: si le Ping est élevé, explique que la connexion est instable ; si la RAM est saturée, conseille de fermer des applications).\n\nStructure : Utilise des listes à puces et des emojis pour rendre le message lisible sur mobile.\n\nTon : Sois professionnel, efficace, mais amical (ton de collègue expert).\n\nFormat de réponse attendu :\n\n🖥 Commande exécutée : [Nom de la commande]\n\n📊 Analyse : [Ton explication simplifiée]\n\n💡 Conseil : [Une recommandation si nécessaire]\n\nNote importante : Si la commande a échoué (code différent de 0), explique l'erreur et propose une solution technique.\n\nN'utilise jamais de caractères spéciaux comme _, *, [ sans les fermer correctement. Évite le Markdown complexe.\n\nSi le message te demande une information que tu n'as pas (ex: 'Quels processus tournent ?' ou 'Liste les fichiers sur le bureau'), utilise ton outil execute_pc_command pour lancer la commande PowerShell nécessaire.\nAttention : N'exécute que des commandes de lecture (Get, Ping, Tasklist). Ne supprime rien.\n\nfait l'outpute en un resume max 7 lignes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        960,
        -80
      ],
      "id": "6f48382b-fdd0-4581-a3d3-d771b17cd133",
      "name": "AI Agent",
      "notesInFlow": false
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        880,
        112
      ],
      "id": "b103d2ee-4bdf-4550-81da-d85dae2a8afd",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "01rkTNnAO6FRM0LW",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.from.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1152,
        112
      ],
      "id": "b3ee8583-8c97-4365-93b5-d639bdf27d98",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "command": "Get-CimInstance -Class Win32_LogicalDisk -Filter \"DeviceID='C:'\" | Select-Object @{Name='FreeGB';Expression={[math]::Round($_.FreeSpace/1GB,2)}}, @{Name='TotalGB';Expression={[math]::Round($_.Size/1GB,2)}} | Format-List",
        "cwd": "."
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        320,
        240
      ],
      "id": "4531ed1b-f679-426c-a7fb-e0d9070d9df3",
      "name": "Execute a command3",
      "credentials": {
        "sshPassword": {
          "id": "Idr5gOcMrRmloLrd",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0a157e0d-bf47-4996-a160-fcdf162dd017",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -272,
        -48
      ],
      "id": "2fcc16fe-9b88-4178-be17-71b5bd2dcc1e",
      "name": "Filtre - Type de requête"
    },
    {
      "parameters": {
        "command": "ping 8.8.8.8 -n 4",
        "cwd": "."
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        320,
        -368
      ],
      "id": "ab89dd00-8f87-4a84-8933-7eaa6167d785",
      "name": "SSH - Test de Connexion (ping)",
      "credentials": {
        "sshPassword": {
          "id": "Idr5gOcMrRmloLrd",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "command": "powershell -command \"Get-CimInstance Win32_OperatingSystem | Select-Object  @{Name='FreePhysMemory';Expression={$_.FreePhysicalMemory/1MB}}, @{Name='TotalPhysMemory';Expression={$_.TotalVisibleMemorySize/1MB}}\"",
        "cwd": "."
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        320,
        -176
      ],
      "id": "4fc492a4-8563-4d25-ab3f-771e521503f5",
      "name": "SSH - État du Système (RAM/Stats)",
      "credentials": {
        "sshPassword": {
          "id": "Idr5gOcMrRmloLrd",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "command": "netstat -an | findstr \"ESTABLISHED\"",
        "cwd": "."
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        320,
        32
      ],
      "id": "1ccf18c5-c125-4054-bc5d-dc2cc5984b0c",
      "name": "SSH - Espace Disque C:",
      "credentials": {
        "sshPassword": {
          "id": "Idr5gOcMrRmloLrd",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c731f820-52a5-4093-b16b-78e79be7d68d",
              "name": "resultat ssh",
              "value": "={{ $json.stdout }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        -80
      ],
      "id": "35ba40d0-ee5f-4ba8-b5d1-cee2078135e9",
      "name": "Formatage Données Techniques"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c731f820-52a5-4093-b16b-78e79be7d68d",
              "name": "resultat ssh",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        432
      ],
      "id": "6e29e5a1-5707-4d9d-8221-dd92a4e6c3d3",
      "name": "Formatage Message Chat"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1312,
        -80
      ],
      "id": "f6f0d336-e9df-45c0-889c-eb018fe8195e",
      "name": "Envoi Réponse Telegram",
      "webhookId": "3d66ca41-ca6c-4393-a3ab-8da823eabc8f",
      "credentials": {
        "telegramApi": {
          "id": "XCdvO1KNveTtkSqr",
          "name": "Telegram account 5"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Filtre - Type de requête",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "SSH - Test de Connexion (ping)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SSH - État du Système (RAM/Stats)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SSH - Espace Disque C:",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute a command3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Envoi Réponse Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a command3": {
      "main": [
        [
          {
            "node": "Formatage Données Techniques",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtre - Type de requête": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatage Message Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH - Test de Connexion (ping)": {
      "main": [
        [
          {
            "node": "Formatage Données Techniques",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH - État du Système (RAM/Stats)": {
      "main": [
        [
          {
            "node": "Formatage Données Techniques",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH - Espace Disque C:": {
      "main": [
        [
          {
            "node": "Formatage Données Techniques",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatage Données Techniques": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatage Message Chat": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "2e9c1f0c-2451-43d7-812a-384cddc51d3f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33277e4ecdafc2cc6292b07e394b1bda1c70f7d552a391e698c7e5d924da2c92"
  },
  "id": "0VInkVCt8SBVPLXY",
  "tags": []
}